{{ partial "head.html" . }}
<div class="site-wrap">
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <div class="post-header mb2">
                {{ with .Params.profile_photo }}
                    <div class="avatar-container">
                        <div class="avatar-border">
                            {{ partial "img" (dict
                                "src" .
                                "width" 220
                                "height" 220
                                "opts" "photo"
                                "alt" "Profile photo"
                                "class" "avatar-img"
                            )}}
                        </div>
                    </div>
                {{ end }}
                <div class="avatar-padding"></div>
                <h1 class="center">{{ .Title }}</h1>
                <hr class="small">
            </div>

            <article class="post-content">
                {{ .Content | safeHTML }}
            </article>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
