<header class="site-header px2 px-responsive">
    <div class="mt2 mb2 wrap">
        <div class="measure">
            <a href="{{ .Site.BaseURL }}" class="site-title">{{ .Site.Title }}</a>
            <div class="right">
                <!-- <div class="social-icons icons inline-block">
                     {{ partial "social_links.html" . }}
                     </div> -->
                <nav class="site-nav inline-block">
                    {{ partial "navigation.html" . }}
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
