{{ partial "head.html" . }}
<div class="site-wrap">
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <div class="post-header mb2">
                <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</p>
                <h1 class="post-title">{{ if .Draft }}[Draft]  {{end}}{{ .Title }}</h1>
                {{ with .Params.Subtitle }}
                <p class="post-subtitle">{{.}}</p>
                {{ end }}
                {{ $baseurl := .Site.BaseURL }}
            </div>

            <article class="post-content">
                {{ .Content }}
            </article>

            {{ with .Params.Tags }}
            <p class="post-meta">Tags:&nbsp;
                {{ range $i, $e := . }}
                {{if $i}},&nbsp;{{end}}
                <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
                {{ end }}
            </p>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
