@charset "UTF-8";

hr.small {
    border-radius: 2px;
    border: 2px solid black;
    display: block;
    height: 0;
    width: 8em;
}

.social-icons a {
    color: #666;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.social-icons a:hover {
    color: #333;
}

.avatar-container {
    left: 50%;
    position: absolute;
    top: 2em;
}

.avatar-border {
    border-radius: 50%;
    border: 5px solid #fff;
    display: inline-block;
    margin-left: -50%;
    width: 220px;
}

.avatar-img {
    border-radius: 50%;
    display: block;
    width: 100%;
}

.avatar-padding {
    height: 100px;
}

h1.notfound {
    font-size: 6rem;
    margin: 1em 0;
}

@media screen and (min-width: 48em) {
    .avatar-border {
        width: 200px;
    }
}

@media screen and (max-width: 48em) {
    .avatar-container {
        top: 4.5em;
    }

    .avatar-border {
        width: 158px;
    }
}

@media screen and (min-width: 64em) {
    .avatar-border {
        width: 220px;
    }
}
